<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asia.haydenk.mystravademo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="asia.haydenk.mystravademo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
z
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="haydenk.asia"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="asia.haydenk.mystravademo.ActivityListActivity"
            android:label="@string/title_activity_activity_list" >
        </activity>
        <activity
            android:name="asia.haydenk.mystravademo.SegmentListActivity"
            android:label="@string/title_activity_segment_list" >
        </activity>
    </application>

</manifest> <!-- TODO change activity name to StravaApplication -->
